/* Remove padding */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Fonts */

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Perpetua";
  font-weight: normal;
}

body {
  font-family: "Inter", sans-serif;
}

strong {
  font-weight: bold;
}

/* Backgrounds */
.bg-white-flowers {
  background-image: url(/assets/images/white_bg_swirl.jpg);
  background-size: cover;
  background-position: center;
}

.bg-teal-flowers {
  background-image: url(/assets/images/teal_bg_swirl.jpg);
  background-size: cover;
  background-position: center;
}

/* Wrapper */
.wrapper {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: white;
  z-index: 999;
}

header .wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header .wrapper .hamburger {
  background-color: transparent;
  border: none;
}

.hamburger .line {
  background-color: #50535a;
  border-radius: 6px;
  display: block;
  height: 4px;
  margin: 14px 0 14px auto;
  text-align: right;
  transition: all 0.3s ease-in-out;
  width: 28px;
}

.hamburger .line:nth-child(1) {
  width: 45px;
}

/* Hero */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.hero a {
  position: absolute;
  top: 90vh;
  font-size: 2em;
  color: white;
  font-weight: 100;
  z-index: 2;
}

.hero-text {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
  z-index: 3;
}

.hero-text h1 {
  font-size: 40px;
  letter-spacing: 4px;
  max-width: 340px;
  text-transform: none;
  font-weight: lighter;
}

/* Content blocks */

.content-centre,
.content-right {
  padding: 100px;
}

.content-centre .wrapper h2 {
  font-size: 64px;
  line-height: 73px;
  margin-bottom: 48px;
  color: #735775;
  font-weight: lighter;
}

.content-centre .wrapper p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #666666;
  font-weight: lighter;
}

.content-centre .wrapper a {
  color: #735775;
  margin-bottom: 30px;
}

.content-centre .wrapper .link-wrapper,
.content-right .wrapper .link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.content-centre .wrapper .link-wrapper a.button,
.content-right .wrapper .link-wrapper a.button {
  text-align: center;
  padding: 12px 28px;
  border: 2px solid #735775;
  color: #666666;
  text-decoration-color: #735775;
  font-family: "Perpetua";
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.content-centre .wrapper .link-wrapper a.button:hover,
.content-right .wrapper .link-wrapper a.button:hover {
  box-shadow: inset 0 -50px 0 0px #735775;
  color: white;
}

.content-right .wrapper {
  display: flex;
}

.content-right .wrapper img {
  width: 50%;
  object-fit: cover;
  padding: 25px;
}

.content-right .wrapper .content {
  width: 50%;
  padding: 25px;
}

.content-right .wrapper h2 {
  font-size: 48px;
  line-height: 73px;
  margin-bottom: 48px;
  color: #735775;
  font-weight: lighter;
}

.content-right .wrapper p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #666666;
  font-weight: lighter;
}

.content-right .wrapper .link-wrapper {
  justify-content: left;
}

/* Tile images */

.tile-images {
  display: flex;
}

.tile-images .wrapper img {
  justify-content: left;
  max-width: 60%;
  margin-bottom: -50px;
}

.tile-images .wrapper img:nth-child(1) {
  float: right;
  z-index: 1;
  margin-top: 50px;
}

.tile-images .wrapper img:nth-child(2) {
  float: left;
  z-index: 2;
}

.tile-images .wrapper img:nth-child(3) {
  float: right;
  margin-bottom: 50px;
  z-index: 3;
}

/* Full width image */

.full-width-image img {
  max-height: 100vh;
  min-height: 375px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
