/* Remove padding */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Fonts */

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Perpetua";
  font-weight: normal;
}

body {
  font-family: "Inter", sans-serif;
}

strong {
  font-weight: bold;
}

/* Fade Animation */

.fadein {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.faded-in {
  opacity: 1;
}

/* Backgrounds */
.bg-flowers {
  background-image: url(/assets/images/bg_swirl.jpg);
  background-size: cover;
  background-position: center;
}

.bg-white-flowers {
  background-image: url(/assets/images/white_bg_swirl.jpg);
  background-size: cover;
  background-position: center;
}

.bg-teal-flowers {
  background-image: url(/assets/images/teal_bg_swirl.jpg);
  background-size: cover;
  background-position: center;
}

/* Wrapper */
.wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.news-container {
  max-width: 810px;
  margin-left: auto;
  margin-right: auto;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Header */
header {
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  z-index: 999;
}

header .wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header > .wrapper {
  position: relative;
  z-index: 999;
}

header .wrapper .hamburger {
  background-color: transparent;
  border: none;
}

header > .wrapper > a {
  color: white;
}

.white {
  background-color: white;
}

header.white > .wrapper > a {
  color: #50535a;
}

header.white > .wrapper > .hamburger .line {
  background-color: #50535a;
}

header.open-menu-color > .wrapper > a {
  color: #50535a;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger .line {
  background-color: white;
  border-radius: 6px;
  display: block;
  height: 4px;
  margin: 14px 0 14px auto;
  text-align: right;
  transition: all 0.3s ease-in-out;
  width: 28px;
}

.hamburger .line:nth-child(1) {
  width: 45px;
}

.hamburger.is-active .line {
  background-color: #50535a;
  height: 3px;
  width: 28px;
}

.hamburger.is-active .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 3.5px);
}

.hamburger.is-active .line:nth-child(2) {
  transform: rotate(45deg) translate(-8px, -7.5px);
}

/* Nav menu */

nav.menu {
  display: block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100%;
  top: 0;
  padding-top: 90px;
  background-image: url("/assets/images/menu-bg.jpg");
  background-size: cover;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

nav.menu.open {
  opacity: 1;
  visibility: visible;
}

nav.menu .wrapper {
  align-items: baseline;
  justify-content: end;
  height: 80%;
}

nav.menu > .wrapper > ul {
  list-style: none;
  width: 50%;
  margin-top: 15px;
  padding-right: 15px;
  max-height: 95%;
  overflow: auto;
  overflow-x: hidden;
}

nav.menu ul li {
  padding: 30px 0;
  font-size: 34px;
  font-family: "Perpetua";
  font-weight: lighter;
  border-top: 1px solid #50535a;
}

nav.menu ul li a {
  text-decoration: none;
  color: #50535a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.menu ul li a i {
  font-size: 24px;
}

/* Sub menu */

nav.menu .sub-menu {
  padding: 0;
  width: 100%;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: ease 0.7s;
}

nav.menu .sub-menu.open {
  margin-top: 15px;
  max-height: 500px;
}

nav.menu .sub-menu li {
  margin: 0;
  padding: 10px;
  border: none;
}

nav.menu .sub-menu li a {
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

nav.menu .sub-menu li a:hover {
  color: #735775;
}

nav.menu ul li a .fa-chevron-down {
  -moz-transition: transform 0.7s;
  -webkit-transition: transform 0.7s;
  transition: transform 0.7s;
}

.flip {
  transform: rotate(180deg);
}

/* Nav footer */

.nav-footer-wrapper {
  justify-content: center !important;
}

.nav-footer {
  height: 20%;
  width: 80%;
  padding-top: 20px;
  border-top: 1px solid black;
  justify-content: center;
}

.nav-footer a {
  padding: 0 20px;
  border-right: 1px solid black;
  color: #735775;
}

.nav-footer a:first-child {
  padding-left: 0;
}

.nav-footer a:hover {
  text-decoration: none;
}

.nav-footer a:last-child {
  border: none;
}

/* Hero */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.hero a {
  position: absolute;
  top: 90vh;
  font-size: 2em;
  color: white;
  font-weight: 100;
  z-index: 2;
}

.hero-text {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
  z-index: 3;
}

.hero-text h1 {
  display: inline;
  font-size: 40px;
  letter-spacing: 4px;
  text-transform: none;
  font-weight: lighter;
}

/* Content blocks */

.content-centre,
.content-left,
.content-right {
  padding: 100px;
}

.content-centre .wrapper h2 {
  font-size: 64px;
  line-height: 73px;
  margin-bottom: 48px;
  color: #735775;
  font-weight: lighter;
}

.content-centre .wrapper p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #666666;
  font-weight: lighter;
}

.content-centre .wrapper a {
  color: #735775;
  margin-bottom: 30px;
}

.content-centre .wrapper .link-wrapper,
.content-left .wrapper .link-wrapper,
.content-right .wrapper .link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.content-centre .wrapper .link-wrapper a.button,
.content-left .wrapper .link-wrapper a.button,
.content-right .wrapper .link-wrapper a.button {
  text-align: center;
  padding: 12px 28px;
  border: 2px solid #735775;
  color: #666666;
  text-decoration-color: #735775;
  font-family: "Perpetua";
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.content-centre .wrapper .link-wrapper a.button:hover,
.content-left .wrapper .link-wrapper a.button:hover,
.content-right .wrapper .link-wrapper a.button:hover {
  box-shadow: inset 0 -50px 0 0px #735775;
  color: white;
}

.content-left .wrapper,
.content-right .wrapper {
  display: flex;
}

.content-left .wrapper img,
.content-right .wrapper img {
  width: 50%;
  object-fit: cover;
  padding: 25px;
}

.content-left .wrapper .content,
.content-right .wrapper .content {
  width: 50%;
  padding: 25px;
}

.content-left .wrapper h2,
.content-right .wrapper h2 {
  font-size: 48px;
  line-height: 73px;
  margin-bottom: 48px;
  color: #735775;
  font-weight: lighter;
}

.content-left .wrapper p,
.content-right .wrapper p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #666666;
  font-weight: lighter;
}

.content-left .wrapper .link-wrapper,
.content-right .wrapper .link-wrapper {
  justify-content: left;
}

/* Tile images */

.tile-images.rlr .wrapper .item img {
  justify-content: left;
  max-width: 55%;
  width: 100%;
  margin-bottom: -50px;
  object-fit: contain;
}

.tile-images.rlr .wrapper .item:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  z-index: 1;
  margin-top: 50px;
}

.tile-images.rlr .wrapper .item:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  align-items: top;
  justify-content: space-between;
  z-index: 2;
}

.tile-images.rlr .wrapper .item:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 100px;
  z-index: 3;
}

.tile-images.lrl .wrapper .item img {
  justify-content: right;
  max-width: 55%;
  width: 100%;
  margin-bottom: -50px;
  object-fit: contain;
}

.tile-images.lrl .wrapper .item:nth-child(1) {
  display: flex;
  flex-direction: row-reverse;
  align-items: top;
  justify-content: space-between;
  z-index: 1;
  margin-top: 50px;
}

.tile-images.lrl .wrapper .item:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  z-index: 2;
}

.tile-images.lrl .wrapper .item:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 100px;
  z-index: 3;
}

/* Full width image */

.full-width-image img {
  max-height: 100vh;
  min-height: 375px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  vertical-align: middle;
}

/* News stories */

.news-stories {
  background-color: #f4f3f0;
  padding: 50px;
}

.news-stories .subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: lighter;
  color: #666666;
}

.news-stories h2 {
  font-size: 40px;
  line-height: 73px;
  margin-bottom: 48px;
  color: #735775;
  font-weight: lighter;
}

.news-story {
  width: 30%;
  margin-bottom: 50px;
}

.news-story a[style^="background-image:"] {
  display: block;
  width: 100%;
  margin-bottom: 48px;
  padding-bottom: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 15px 15px #edebe6;
  transition: ease-in-out 0.6s;
}

.news-story a[style^="background-image:"]:hover {
  box-shadow: 25px 25px #edebe6;
  background-size: 110%;
}

.news-story .category,
.news-story .published-date {
  font-weight: lighter;
  color: #50535a;
  margin: 0;
}

.news-story a {
  text-decoration-color: #735775;
}

.news-story a h3 {
  font-size: 28px;
  margin: 20px 0;
  color: #735775;
  font-weight: lighter;
}

.news-stories .filters {
  margin-bottom: 50px;
}

.news-stories .filters input[type="search"] {
  padding: 16px 36px;
  border: 2px solid #735775;
  background: transparent;
  font-family: "Perpetua";
  font-size: 1.2em;
  color: #666666;
  margin: 1rem 1rem 1rem 0;
}

.news-stories .filters select,
select#gallery-filter {
  padding: 16px 24px;
  padding-right: 32px;
  border: 2px solid #735775;
  border-radius: 0;
  background: transparent;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=)
    no-repeat 100% 50%;
  font-family: "Perpetua";
  font-size: 1.2em;
  color: #666666;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination ul {
  display: flex;
  list-style: none;
}

.pagination ul a {
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: #666666;
  text-decoration: none;
}

.pagination ul a:hover {
  color: #735775;
}

/* Full width image with text cta */
.full-width-image-text {
  width: 100%;
  color: white;
  text-align: center;
  background-size: cover;
}

.full-width-image-text .wrapper {
  max-width: 480px;
}

.full-width-image-text-bg {
  background: rgba(0, 0, 0, 0.5);
  padding: 150px;
}

.full-width-image-text h2 {
  font-size: 32px;
}

.full-width-image-text p {
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
}

.full-width-image-text .link-wrapper {
  margin: 50px;
}

.full-width-image-text .link-wrapper a.button {
  text-align: center;
  padding: 12px 28px;
  border: 2px solid white;
  color: white;
  text-decoration-color: white;
  font-family: "Perpetua";
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  margin: 20px;
}

.full-width-image-text .wrapper .link-wrapper a.button:hover {
  box-shadow: inset 0 -50px 0 0px white;
  color: #50535a;
}

/* Quote styling */
.quote {
  margin: 100px 50px 0;
  max-width: 35%;
}

.quote p {
  font-size: 35px;
  line-height: 35px;
  font-style: italic;
  font-family: "Perpetua";
  color: #666666;
}

.quote .quote-author {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: lighter;
  font-family: "Inter", sans-serif;
}

/* Link with image */

.link-with-image-container > .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-with-image-container.one > .wrapper > .link-with-image {
  width: 100%;
  height: 1000px;
  max-height: 500px;
  display: flex;
  margin: 1rem 0;
}

.link-with-image-container.two > .wrapper > .link-with-image {
  width: 48%;
  height: 1000px;
  max-height: 300px;
  display: flex;
  margin: 1rem 0;
}

.link-with-image {
  color: white;
  background-size: auto 125%;
  background-position: center;
  background-repeat: no-repeat;
  transition: ease-in-out 0.6s;
}

.link-with-image:hover,
.link-with-image:focus {
  background-size: auto 130%;
}

.link-with-image:hover h3,
.link-with-image:focus h3 {
  text-decoration: underline;
}

.link-with-image-container.one
  > .wrapper
  > .link-with-image
  > .link-with-image-bg {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.link-with-image-container.two
  > .wrapper
  > .link-with-image
  > .link-with-image-bg {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.link-with-image {
  text-decoration: none;
  line-height: 1.5;
}

.link-with-image-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-with-image .subtitle {
  font-size: 1.3em;
}

.link-with-image h3 {
  font-size: 2em;
  margin-top: 0;
  width: 80%;
}

.link-with-image p {
  margin: 0;
  width: 80%;
}

/* Accordion */

.accordion-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  font-family: "Perpatua";
  color: #735775;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: transparent;
  color: #735775;
  font-size: 2rem;
  font-family: "Perpatua";
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid black;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
}

.accordion > .fa-solid.fa-caret-down {
  font-size: 1.5rem;
}

.accordion.active > .fa-solid.fa-caret-down {
  transform: rotate(180deg);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .accordion.active {
  background-color: ;
  color: ;
} */

/* .accordion:hover {
  background-color: ;
  color: ;
} */

/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
  padding: 0 18px;
  max-height: 0;
  border-bottom: 1px solid black;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-panel p,
.accordion-panel a,
.accordion-panel ul {
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 3vh 0;
  margin-bottom: 0;
}

.accordion-panel ul {
  padding-top: 0;
}

/* Table */

table {
  margin: 50px 0;
  width: 100%;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #666666;
  font-weight: lighter;
}

th {
  font-weight: bold;
}

/* Gallery */

.gallery-images {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.gallery-images .column {
  width: 30%;
}

.gallery-images .column img {
  width: 100%;
  padding-bottom: 20%;
}

/* Footer */

footer {
  background-image: url("/assets/images/footer_image.png");
  padding: 50px;
  font-weight: lighter;
  color: #50535a;
}

footer .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

footer .top a {
  color: #50535a;
  font-weight: lighter;
}

footer .bottom {
  display: flex;
  align-items: center;
}

footer .bottom li,
footer .bottom a {
  color: #50535a;
  font-weight: lighter;
  font-size: 16px;
}

footer a:hover {
  color: #735775;
}

footer .col {
  width: 28%;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline;
}

footer .button {
  text-align: center;
  padding: 8px 28px;
  border: 2px solid #735775;
  color: #666666;
  text-decoration-color: #735775;
  font-family: "Perpetua";
  transition: all 0.2s ease-in-out;
}

footer .button:hover {
  box-shadow: inset 0 -50px 0 0px #735775;
  color: white;
}

.footer-title {
  font-size: 24px;
  font-family: "Perpetua";
  color: #735775;
  font-weight: lighter;
}

.footer-title-2 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  color: #50535a;
  margin: 26px 0;
}
